.wordCard {
  all: initial;
  * {
    all: unset;
  }
}

.wordCard {
  padding: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Rasa', serif;
  background: #ffeade;
  max-width: 340px;
  width: 100%;
  min-width: 320px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 9999999;
}

@media (min-width: 767px) {
  .wordCard {
    max-width: 400px;
  }
}

.wordCardTitle {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.notFound,
.loading {
  font-size: 13px;
  color: #626262;
  margin: 8px 0 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.removeIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #626262;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeIcon:hover {
  color: black;
}
