.definitionList {
  text-align: left;
}

.definitionItem {
  margin-top: 8px;
  font-family: 'Rasa', serif;
}

.index {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
}

.definition {
  margin: 0;
  font-size: 1.1rem;
  padding-left: 24px;
  line-height: 1.4rem;
}

.notSet {
  font-size: 0.9rem;
  color: #626262;
  margin: 8px 0 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.example {
  font-size: 1.1rem;
  margin: 0;
  color: #626262;
  padding-left: 24px;
  line-height: 1.4rem;
  white-space: pre-wrap;
}
